<?php
	/**
		* @package unit_test	
		*/
	require_once('{test_path}');
  class {class_name}UnitTest extends NimbleUnitTestCase { 
  	

		public function testTruth() {
			$this->assertTrue(true);
		}

	}
